@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  scroll-behavior: smooth;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
:target {
  scroll-margin-top: 0.8em;
}

::-webkit-scrollbar {
  width: 0; /*Retira o scrollbar*/
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  background-color: #000000;
}

h1,
p {
  font-family: "Heebo", sans-serif;
  color: #ffffff;
  z-index: 9999;
}

#container .box {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: relative;
}

#container .box > div {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#container {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color: #000;
  position: absolute;
  width: 100vh;
  height: 100vw;
}

#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
}

#navBar {
  border-bottom: 1px solid #ffffff66;
  position: fixed;
  height: 100px;
  width: 100vh;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0009;
}
#logo {
  height: 50px;
  transform: rotate(90deg);
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}
#navBar ul {
  width: 85vh;
  display: flex;
}
#navBar ul li {
  text-align: center;
  list-style: none;
  height: 100%;
  width: 90%;
}
#navBar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}
#navBar ul li a:hover {
  color: #ffffff66;
}

.btnMenu {
  display: inline-block;
  cursor: pointer;
  display: none;
  transform: rotate(90deg);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333a;
  margin: 9px 0;
  margin-left: 7px;
}

.wordBox {
  margin-left: 7%;
  margin-top: 0px;
  max-width: 90%;
}
h1.be {
  font-size: 13rem;
  padding: 0px;
  margin-top: 100px;
}
h1.word {
  font-size: 26rem;
  margin-top: -200px;
  /* margin-left: -10px; */
}

@media screen and (max-width: 1080px) {
  wordBox {
    margin-left: 10%;
    margin-top: 0px
      ";
  }
  h1.be {
    font-size: 7rem;
    padding: 0px;
    margin-top: 300px;
  }
  h1.word {
    font-size: 14rem;
    margin-top: -30px;
    margin-left: 0px;
  }
  .wordBox {
    margin-left: 10%;
    margin-top: 0px;
    max-width: 90%;
  }
  #navBar ul li a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  wordBox {
    margin-left: 10%;
    margin-top: 0px
      ";
  }
  h1.be {
    font-size: 5rem;
    padding: 0px;
    margin-top: 300px;
  }
  h1.word {
    font-size: 10rem;
    margin-top: -30px;
    margin-left: 0px;
  }
  .wordBox {
    margin-left: 10%;
    margin-top: 0px;
    max-width: 90%;
  }
  #navBar ul li a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  wordBox {
    margin-left: 10%;
    margin-top: 0px
      ";
  }
  h1.be {
    font-size: 250%;
    padding: 0px;
    margin-top: 300px;
  }
  h1.word {
    font-size: 500%;
    margin-top: -30px;
    margin-left: 0px;
  }
  .wordBox {
    margin-left: 10%;
    margin-top: 0px;
    max-width: 90%;
  }
  #navBar {
    margin-left: -100px;
    transition: all 1s;
  }

  #navBar:hover {
    margin-left: 0px;
  }
  .btnMenu {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff66;
    position: absolute;
    right: 0px;
    bottom: -50px;
  }
  #navBar ul li a {
    font-size: 1.2rem;
  }
}

.one {
  background-color: #000000;
  background-image: url("images/0012.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
.two {
  background-color: #000000;
  background-image: url("images/0013.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
.three {
  background-color: #000000;
  background-image: url("images/0014.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
.four {
  background-color: #000000;
  background-image: url("images/0006.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
.five {
  background-color: #000000;
  background-image: url("images/0007.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
.six {
  background-color: #000000;
  background-image: url("images/0010.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}
